.container {
    margin-bottom: 100px;;
}
.light-redish-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price-color {
    color: #ff136f;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 700;
}

.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}

.cat1 {
    background-image: linear-gradient(to right, rgb(255, 140, 0) 0%, rgb(241, 181, 69) 100%);
} 
.cat2 {
    background-image: linear-gradient(to right, #ff136f 0%, #ff5898 100%);
}

.cat3 {
    background-image: linear-gradient(to right, skyblue 0%, darkblue 100%);
}

.categories h1 {
    color: white;
}

.categories img {
    width: 100px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}

.card-footer {
    background-color: #fff;
    border-top: none;
}

#subscribe h6 {
    color: grey;
}

#subscribe {
    height: 300px;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}